/* Colores:
   --color-primary:  #222
   --color-secondary: rgba(110, 69, 51, 1);
   --color-focus-menu: #B90000;
   --color-background: #fff;
   --color-list-odd: #f2f2f2;

*/

/* Imágenes:
logo: https://www.last.fm/static/images/logo_static_mob.0798d7258e3d.png
rock: https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg
hip-hop: https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg
indie:https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg
jazz:https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg
reggae: https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg
*/

/* Filtros:

rock:   sepia(90%);
hip-hop:contrast(200%);
indie:  grayscale(50%);
jazz:   hue-rotate(90deg);
reggae: saturate(10%);

*/

/* Fuente:
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;

*/
 
/* Utiliza  la propiedad counter-increment: step-counter; para pintar el número de la canción
 */

/*reset*/
 ul {
	list-style: none;
}
a {
    all: unset;
}

/* layout*/
body {
    background-color: #e4d8b4;
    font-family: Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
}

/*header*/
header {
    background-color: #f5aa5f ;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header>img {
    height: 1.2rem;
    margin-bottom: 0.6rem;
}

/* nav de los tipos de musica con imagenes*/
.navMusicStyle {
    display: flex;
    justify-content: center;
    color: white;
}
.navMusicStyle>li{
    box-sizing:border-box;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 1.2rem;
    font-weight: 600;
}

.rock{
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(90%);
}

.hip-hop{
    background-image: url( "https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


  
.indie{
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);
}

.jazz{
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(90deg);;
}

.reggae{
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(10%);;
}

/*nav de las tres opciones de lista: overview, top 10, the biggest*/

.navListas {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.navListas>li{
    padding: 0.2rem 1rem; 
}
 
/*section de las canciones */
.songsContainer>h2 {
padding-left: 4.2rem;
}

.songs>li{
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

} 

.songs>li>img {
    width: 1.8rem;
    background-color: transparent;
    border-radius: rem;
    margin-left: 1rem;
    
}


 .songs {
    counter-reset: li;
    list-style: none;
} 

.songs > li> .songArtist:before {
    counter-increment: li;
    content: counter(li)". ";
}

 .songBold{
    font-weight: bold;
    width: 60%;     
}

.songArtist{
    text-align:start;
    width: 20%;
    
}

ol> :nth-child(odd){
    background-color: #c2b28f;
} 


li :nth-child(odd){
    background-color: transparent;
} 

/* .styleWords{
    color: red;
}

.blackWords{
    color:black;
}

.navMusicStyle>li{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
 
  
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  


}


.navMusicStyle>li:hover{
  top:0px;
  opacity:0.5;
}

.navMusicStyle>li:nth-child(1){
    transform:rotate(10deg);
}

.navMusicStyle>li:nth-child(2){
    transform:rotate(6deg);
}

.navMusicStyle>li:nth-child(3){
    transform:rotate(-10deg);
}

.navMusicStyle>li:nth-child(4){
    transform:rotate(20deg);
}

.navMusicStyle>li:nth-child(5){
    transform:rotate(-10deg);
}

.navMusicStyle>ul>li>p{
  margin:-15px 0 0 0;
}



.light{
  border-radius:50%;
  position:absolute;
  left:0;
  right:0;
  width:700px;
  height:700px;
  background:#fff;
  filter:blur(100px);
  opacity:0.3;
  pointer-events:none;
}


.navMusicEvent {
   
    background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(90%) opacity(40%);
   
} */
